@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.logo__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
  letter-spacing: 0.06em;
}

.logo__subtitle {
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.first-screen__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 44px;
  font-weight: 400;
  font-style: normal;
  line-height: 57.2px;
}

.contacts__title, .location__title, .popup__content-title, .about__title, .pets__title, .help__title, .donation__textTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  line-height: 45.5px;
  letter-spacing: 0.129rem;
}

.pagination .arrow, .contacts__email a .email__text, .contacts__phone a .phone__text, .location__adress a .location__text, .popup__content-type, .item__text, .donation__card .link__cardNumber {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
  letter-spacing: 0.074rem;
}

.popup__content-description, .donation__textSubTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0.9px;
}

.popup__list li span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.list__link, .first-screen__text, .about__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.donation__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 18px;
}

.card__name h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.06em;
}

.pagination {
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .pagination {
    max-width: 300px;
  }
}

.btn {
  cursor: pointer;
  outline: none;
  width: 207px;
  height: 52px;
  background-color: #f1cdb3;
  border-radius: 6.25rem;
  -webkit-border-radius: 6.25rem;
  -moz-border-radius: 6.25rem;
  -ms-border-radius: 6.25rem;
  -o-border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-size: 1.0625rem;
  line-height: 1.375rem;
  border-radius: 6.25rem;
  -webkit-border-radius: 6.25rem;
  -moz-border-radius: 6.25rem;
  -ms-border-radius: 6.25rem;
  -o-border-radius: 6.25rem;
}

.card .btn {
  margin: 0 auto;
  border: 2px solid #f1cdb3;
  background: none;
  width: 187px;
  padding-left: 43px;
  padding-right: 42px;
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-size: 1.0625rem;
  line-height: 1.375rem;
}

.btn:hover {
  background-color: #fddcc4;
}

@media screen and (max-width: 1279px) {
  .first-screen__content .btn {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .first-screen__content .btn {
    align-self: center;
  }
}

.petsBtn {
  width: 261px;
  margin: 0 auto;
  margin-top: 31px;
}

.petsBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 320px) {
  .petsBtn {
    margin-top: 1px;
  }
}

.arrow {
  cursor: pointer;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.arrow:hover {
  background-color: #fddcc4;
}

@media screen and (max-width: 767px) {
  .arrow {
    margin: 20px 40px 0px;
  }
}

.pets__slider .arrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@media screen and (max-width: 1279px) {
  .pets__slider .arrow {
    left: 6px;
  }
}

@media screen and (max-width: 767px) {
  .pets__slider .arrow {
    top: auto;
    bottom: 0;
    left: 15%;
  }
}

@media screen and (max-width: 320px) {
  .pets__slider .arrow {
    top: auto;
    bottom: 13px;
    left: 8%;
  }
}

.pets__slider .arrow.right {
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: rotate(180deg) translateY(50%);
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
}

@media screen and (max-width: 1279px) {
  .pets__slider .arrow.right {
    right: 6px;
  }
}

@media screen and (max-width: 767px) {
  .pets__slider .arrow.right {
    top: auto;
    bottom: 0;
    right: 15%;
  }
}

@media screen and (max-width: 320px) {
  .pets__slider .arrow.right {
    top: auto;
    bottom: 13px;
    right: 8%;
  }
}

.pagination .arrow {
  margin: 0;
  letter-spacing: 0.075rem;
}

.pagination .arrow.inactive {
  cursor: default;
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
}

.pagination .arrow.inactive:hover {
  cursor: default;
  background-color: initial;
}

.pagination .arrow.active {
  background-color: #f1cdb3;
}

.pagination .arrow.active:hover {
  background-color: #f1cdb3;
}

.card {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  width: 270px;
  height: 435px;
  padding-bottom: 1.85rem;
  flex-shrink: 0;
  background-color: #fafafa;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.card:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 2px 2.125rem 14px rgba(13, 13, 13, 0.04);
}

.slide .card.active,
.slide .card.next {
  position: relative;
  display: flex;
}

.slide .card {
  animation: 0.2s ease-in;
  -webkit-animation: 0.2s ease-in;
}

.slide .card.to-left {
  animation-name: left;
}

.slide .card.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.slide .card.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.slide .card.from-right {
  animation-name: right;
}

@keyframes left {
  0% {
    left: 0%;
  }
  25% {
    left: -25%;
  }
  50% {
    left: -50%;
  }
  75% {
    left: -75%;
  }
  100% {
    left: -100%;
  }
}

@keyframes right {
  100% {
    left: 0%;
  }
  75% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  25% {
    left: 75%;
  }
  0% {
    left: 100%;
  }
}

.pets__list .card {
  display: flex;
}

.card__image img {
  width: 100%;
  display: block;
  border-radius: 9px 9px 0 0;
  -webkit-border-radius: 9px 9px 0 0;
  -moz-border-radius: 9px 9px 0 0;
  -ms-border-radius: 9px 9px 0 0;
  -o-border-radius: 9px 9px 0 0;
}

.card__name {
  text-align: center;
  padding-left: 1px;
}

.card__name h5 {
  color: #545454;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3.75rem;
}

.wrapper-pets .header {
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 30px 40px;
  margin-bottom: 0;
  width: 100%;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .wrapper-pets .header {
    padding: 30px 30px;
  }
}

@media screen and (max-width: 320px) {
  .wrapper-pets .header {
    padding: 30px 10px 30px;
  }
}

.invisible {
  visibility: hidden;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.logo__title {
  position: relative;
  z-index: 1;
  color: #f1cdb3;
  margin: 0 0 10px 0;
}

.wrapper-main .logo__title {
  color: #f1cdb3;
}

.wrapper-pets .logo__title {
  color: #545454;
}

.logo__subtitle {
  position: relative;
  z-index: 1;
  padding-left: 0.25rem;
}

.wrapper-main .header .logo__subtitle {
  color: #fff;
}

.wrapper-pets .header .logo__subtitle {
  color: #292929;
}

.header__menu {
  display: flex;
  align-items: center;
}

.menu__list {
  position: relative;
  width: 443px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .menu__list {
    display: none;
  }
}

.menu__list li:nth-child(2):hover a {
  color: #fff;
  border-bottom: 3px dashed #f1cdb3;
}

.menu__list li:nth-child(3) a,
.menu__list li:nth-child(4) a {
  cursor: default;
}

.list__link {
  padding-bottom: 0.25rem;
  border-bottom: none;
}

.wrapper-pets .list__link {
  color: #545454;
}

.wrapper-main .list__link,
.modal .list__link {
  color: #cdcdcd;
}

.list__link-active {
  border-bottom: 3px solid #f1cdb3;
}

.wrapper-pets .list__link-active {
  color: #292929;
}

.wrapper-main .list__link-active,
.modal .list__link-active {
  color: #fafafa;
}

.header__burger {
  align-self: center;
  display: none;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 22px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.header__burger::before, .header__burger::after,
.header__burger span {
  content: "";
  background-color: #f1cdb3;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header__burger span {
  top: 10px;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    right: 30px;
  }
}

@media (max-width: 320px) {
  .header__burger {
    right: 43px;
  }
}

.wrapper-pets .header__burger::before,
.wrapper-pets .header__burger::after,
.wrapper-pets .header__burger span {
  background-color: #000;
}

.burger-rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.footer {
  padding: 40px 40px 0;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 30px 10px 0;
  }
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

@media screen and (max-width: 1279px) {
  .footer__content {
    display: grid;
    justify-content: center;
    grid-template-columns: 278px 302px;
    gap: 63px 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer__content {
    grid-template-columns: 302px;
    grid-template-rows: auto;
    gap: 41px;
  }
}

.footer__contacts {
  flex-basis: 278px;
  margin-top: 17px;
}

@media screen and (max-width: 1279px) {
  .footer__contacts {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer__contacts {
    align-items: center;
  }
}

.contacts__title {
  color: #fff;
}

.contacts__title + .contacts__email {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 320px) {
  .contacts__title {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.1rem;
  }
}

.contacts__email a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts__email a .email__icon {
  margin-right: 1.25rem;
}

.contacts__email a .email__icon svg {
  display: block;
}

.contacts__email a .email__text {
  display: block;
  color: #f1cdb3;
}

.contacts__phone a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts__phone a .phone__icon {
  margin-right: 1.25rem;
}

.contacts__phone a .phone__icon svg {
  display: block;
}

.contacts__phone a .phone__text {
  color: #f1cdb3;
}

.footer__location {
  flex-basis: 302px;
  margin-top: 17px;
}

@media screen and (max-width: 1279px) {
  .footer__location {
    margin-top: 0;
  }
}

.location__title {
  color: #fff;
}

.location__title + .location__adress {
  margin-top: 2.125rem;
  margin-bottom: 1.9375rem;
}

@media screen and (max-width: 320px) {
  .location__title + .location__adress {
    margin: 40px 0 38px;
  }
}

@media screen and (max-width: 320px) {
  .location__title {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }
}

.location__adress a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location__adress a .location__icons {
  margin-right: 1.25rem;
}

.location__adress a .location__icons svg {
  display: block;
}

.location__adress a .location__text {
  color: #f1cdb3;
}

.footer__puppy .puppy__image {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1279px) {
  .footer__puppy {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    max-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .footer__puppy {
    grid-column-start: auto;
    grid-column-end: auto;
    max-width: 260px;
  }
}

.modal {
  position: fixed;
  right: -150%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.6);
  display: flex;
  justify-content: flex-end;
  z-index: 4;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.modal-isOpen {
  transition: all 0.4s ease-in;
  right: 0;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.modal__menu {
  position: relative;
  top: 0;
  max-width: 320px;
  background-color: #292929;
  padding: 30px 53px 249px 10px;
}

.wrapper-pets .modal__menu {
  right: 0;
  padding: 30px 53px 249px 10px;
}

.modal__menu .menu__list {
  position: relative;
  right: 9px;
  display: block;
  text-align: center;
  width: 320px;
}

.modal__menu .menu__list .menu__item {
  margin-bottom: 42px;
}

.modal__menu .menu__list .list__link {
  font-family: Arial;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
}

.modal-dialog {
  max-width: 900px;
  width: 95%;
  background: #ffffff;
  border-radius: 9px;
  margin: auto;
  padding: 40px 45px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.modal .logo__title {
  color: #f1cdb3;
}

.modal__logo {
  display: inline-block;
  width: 220px;
  margin-bottom: 80px;
}

.logo__subtitle {
  position: relative;
  z-index: 1;
  padding-left: 0.25rem;
}

.modal .logo__subtitle {
  color: #fff;
}

.modal__burger {
  align-self: center;
  display: inline-block;
  position: relative;
  top: -13px;
  right: 0;
  cursor: pointer;
  z-index: 5;
  width: 30px;
  height: 22px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.modal__burger::before, .modal__burger::after,
.modal__burger span {
  content: "";
  background-color: #f1cdb3;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.modal__burger span {
  top: 10px;
}

.modal__burger::before {
  top: 0;
}

.modal__burger::after {
  bottom: 0;
}

@media (max-width: 767px) {
  .modal__burger {
    display: inline-block;
    top: -16px;
    right: -2px;
  }
}

.burger-rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.popup {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 4;
  display: none;
  cursor: pointer;
}

.popup_visible {
  display: flex;
}

.popup__body {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

@media screen and (max-width: 1279px) {
  .popup__body {
    max-width: 630px;
  }
}

@media screen and (max-width: 767px) {
  .popup__body {
    max-width: 240px;
  }
}

.popup__cross-line {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.popup__cross {
  position: relative;
  left: 42px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: transparent;
  border: 1px solid #f1cdb3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__cross.hovered {
  background-color: #fddcc4;
}

.popup__cross:hover {
  background-color: #fddcc4;
}

.popup__cross svg {
  display: block;
}

@media screen and (max-width: 767px) {
  .popup__cross {
    left: 30px;
  }
}

.popup__content {
  background-color: #fafafa;
  display: flex;
  align-items: stretch;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  cursor: default;
}

.popup__content-image {
  flex: 1 1 55.55555%;
  display: block;
}

.popup__content-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 9px 0 0 9px;
  -webkit-border-radius: 9px 0 0 9px;
  -moz-border-radius: 9px 0 0 9px;
  -ms-border-radius: 9px 0 0 9px;
  -o-border-radius: 9px 0 0 9px;
}

@media screen and (max-width: 767px) {
  .popup__content-image {
    display: none;
  }
}

.popup__content-body {
  flex: 1 1 44.44444%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

@media screen and (max-width: 1279px) {
  .popup__content-body {
    padding: 10px 7px 10px 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.popup__content-text {
  position: relative;
  top: -18px;
  width: 92.1052632%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

@media screen and (max-width: 1279px) {
  .popup__content-text {
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .popup__content-text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .popup__content-header {
    position: relative;
    left: 8px;
  }
}

.popup__content-title {
  margin-bottom: 10px;
}

.popup__content-description {
  width: 100%;
  height: auto;
  margin: 40px 0;
}

@media screen and (max-width: 1279px) {
  .popup__content-description {
    width: 108%;
    font-size: 13px;
    line-height: 14.3px;
    letter-spacing: 0.06em;
    margin: 20px 0;
  }
}

@media screen and (max-width: 767px) {
  .popup__content-description {
    margin: 20px 0 24px;
    text-align: justify;
  }
}

.popup__list li {
  list-style: none;
  color: #f1cdb3;
  margin-bottom: 10px;
}

.popup__list li span {
  letter-spacing: 0.07em;
  color: #000;
}

.popup__list li::before {
  content: "•";
  color: #f1cdb3;
  width: 4px;
  height: 4px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (max-width: 1279px) {
  .popup__list li {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .popup__list li {
    text-align: left;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.wrapper-main {
  overflow: hidden;
}

.first-screen {
  overflow: hidden;
  padding: 4.7% 40px 0;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 155.42% at 0% 0%, #5b483a 0%, #262425 85%);
}

@media screen and (max-width: 768px) {
  .first-screen {
    padding: 3.91% 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .first-screen {
    padding: 30px 10px 0;
  }
}

.first-screen__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .first-screen__body {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .first-screen__body {
    max-width: 300px;
  }
}

.first-screen__content {
  margin-bottom: 6.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 322px;
  max-width: 38.33%;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .first-screen__content {
    max-width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .first-screen__content {
    height: 322px;
    margin-bottom: 100px;
    max-width: 71%;
  }
}

@media screen and (max-width: 320px) {
  .first-screen__content {
    max-width: 300px;
    height: 296px;
    margin-bottom: 105px;
  }
}

.first-screen__title {
  color: #fff;
  white-space: nowrap;
}

@media screen and (max-width: 1279px) {
  .first-screen__title {
    padding-left: 21px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .first-screen__title {
    padding-left: 0;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.094rem;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .first-screen__title {
    max-width: 100%;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.094rem;
    text-align: center;
  }
}

.first-screen__text {
  color: #cdcdcd;
}

@media screen and (max-width: 1279px) {
  .first-screen__text {
    padding-left: 21px;
  }
}

@media screen and (max-width: 320px) {
  .first-screen__text {
    padding-left: 0;
    text-align: center;
  }
}

.first-screen__image {
  max-width: calc(59.416666667% - 15px);
  align-self: flex-end;
  position: relative;
  left: 0;
}

.first-screen__image img {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 1279px) {
  .first-screen__image {
    align-self: auto;
  }
}

@media screen and (max-width: 768px) {
  .first-screen__image {
    max-width: 569px;
    left: calc(20% - 70px);
  }
}

@media screen and (max-width: 320px) {
  .first-screen__image {
    max-width: 260px;
    left: 20px;
  }
}

.about {
  padding: 6.25% 3.125% 7.8125%;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 5rem 1.875rem 6.25rem;
  }
}

@media screen and (max-width: 320px) {
  .about {
    padding: 41px 10px 42px;
  }
}

.about__image {
  max-width: 300px;
}

@media screen and (max-width: 1279px) {
  .about__image {
    margin-top: 79px;
  }
}

@media screen and (max-width: 768px) {
  .about__image {
    margin-top: 40px;
  }
}

@media screen and (max-width: 320px) {
  .about__image {
    width: 260px;
    margin-top: 40px;
  }
}

.about__image img {
  max-width: 100%;
  display: block;
}

.about__content {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 1279px) {
  .about__content {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .about__content {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 430px;
  }
}

.about__information {
  max-width: 50.588%;
  padding-top: 15px;
}

@media screen and (max-width: 1279px) {
  .about__information {
    max-width: 85%;
    padding-top: 1px;
  }
}

@media screen and (max-width: 320px) {
  .about__information {
    padding: 2px 15px 0;
  }
}

.about__title {
  color: #545454;
}

@media screen and (max-width: 1279px) {
  .about__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.095rem;
  }
}

.about__title + .about__text {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media screen and (max-width: 320px) {
  .about__title + .about__text {
    margin-top: 26px;
    margin-bottom: 22px;
  }
}

.about__text {
  color: #4c4c4c;
}

@media screen and (max-width: 767px) {
  .about__text {
    text-align: justify;
  }
}

.pets {
  background-color: #f6f6f6;
  padding: 80px 3.125% 100px;
}

@media screen and (max-width: 320px) {
  .pets {
    padding: 42px 0;
  }
}

.pets__title {
  display: block;
  max-width: 100%;
  position: relative;
  left: 1px;
  margin: 0 auto;
  margin-top: 1px;
  margin-bottom: 28px;
  color: #545454;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .pets__title {
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.095rem;
    margin-bottom: 11px;
  }
}

.pets__slider {
  display: block;
  position: relative;
}

@media screen and (max-width: 767px) {
  .pets__slider {
    height: 577px;
  }
}

.slide {
  width: 1050px;
  height: 495px;
  padding-left: 35px;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(48, 310px);
  gap: 50px;
}

@media screen and (max-width: 1279px) {
  .slide {
    gap: 0;
    width: 690px;
  }
}

@media screen and (max-width: 767px) {
  .slide {
    width: 300px;
    padding-left: 0;
  }
}

.help {
  overflow: hidden;
  padding: 80px 3.125% 45px;
}

@media screen and (max-width: 1279px) {
  .help {
    padding: 80px 8.984375% 100px;
  }
}

@media screen and (max-width: 767px) {
  .help {
    padding: 42px 15px;
  }
}

.help__title {
  display: block;
  position: relative;
  top: 1px;
  left: 2px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .help__title {
    text-align: center;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.095rem;
    margin-bottom: 42px;
  }
}

.help__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin-left: -60px;
  margin-right: -60px;
}

@media screen and (max-width: 1279px) {
  .help__list {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, minmax(170px, 1fr));
    gap: 55px 60px;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .help__list {
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    grid-auto-rows: auto;
    gap: 30px;
  }
}

@media screen and (max-width: 320px) {
  .help__list {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-auto-rows: auto;
    gap: 30px;
  }
}

.help__item {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px 55px;
}

@media screen and (max-width: 1279px) {
  .help__item {
    width: 170px;
    height: 113px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .help__item {
    width: 130px;
    height: 87px;
    margin: 0;
  }
}

.help__item svg {
  display: block;
}

@media screen and (max-width: 767px) {
  .help__item svg {
    width: 50px;
    height: 50px;
  }
}

.item__text {
  margin-top: 26px;
  color: #545454;
}

@media screen and (max-width: 767px) {
  .item__text {
    margin-top: 22px;
    font-size: 0.9375rem;
    line-height: 1.03125rem;
    letter-spacing: 0.055rem;
  }
}

.donation {
  background-color: #f6f6f6;
  padding: 6.3% 0 7.8%;
}

@media screen and (max-width: 768px) {
  .donation {
    padding: 10.4166% 0 13.05%;
  }
}

@media screen and (max-width: 320px) {
  .donation {
    padding: 42px 10px;
  }
}

.donation__content {
  max-width: 915px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 768px) {
  .donation__content {
    flex-wrap: wrap;
  }
}

.donation__image {
  position: relative;
  flex-basis: 505px;
  order: 1;
  top: 1px;
}

.donation__image img {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .donation__image {
    order: 2;
    top: 0;
  }
}

@media screen and (max-width: 320px) {
  .donation__image {
    flex-basis: 260px;
  }
}

.donation__text {
  width: 380px;
  margin-left: 1.85rem;
  order: 2;
}

@media screen and (max-width: 768px) {
  .donation__text {
    order: 1;
    margin-left: 0;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .donation__text {
    width: calc(40% + 200px);
  }
}

@media screen and (max-width: 320px) {
  .donation__text {
    margin-bottom: 42px;
  }
}

.donation__textTitle {
  position: relative;
  top: 1px;
  max-width: 300px;
  color: #545454;
}

@media screen and (max-width: 767px) {
  .donation__textTitle {
    top: 0;
    max-width: 210px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.095rem;
  }
}

.donation__textSubTitle {
  max-width: 310px;
  color: #545454;
  margin-top: 21px;
}

@media screen and (max-width: 767px) {
  .donation__textSubTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    letter-spacing: 0.02px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 320px) {
  .donation__textSubTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    letter-spacing: 0.02px;
    margin: 20px 0;
  }
}

.donation__card {
  max-width: 349px;
  background-color: #f1cdb3;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

@media screen and (max-width: 767px) {
  .donation__card {
    padding: 10px 15px 9px;
    max-width: 281px;
    margin: 20px auto;
  }
}

.donation__card:hover {
  background-color: #fddcc4;
}

.donation__card .card__link {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 10px 14px 10px 15px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

@media screen and (max-width: 767px) {
  .donation__card .card__link {
    padding: 10px 15px 9px;
    max-width: 281px;
    margin: 20px auto;
  }
}

.donation__card .link_icon svg {
  display: block;
}

.donation__card .link__cardNumber {
  color: #545454;
}

@media screen and (max-width: 767px) {
  .donation__card .link__cardNumber {
    vertical-align: middle;
    font-size: 0.9375rem;
    line-height: 1.6rem;
    letter-spacing: 0.9px;
  }
}

.donation__description {
  color: #b2b2b2;
}

@media screen and (max-width: 767px) {
  .donation__description {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
  }
}

.wrapper-pets {
  position: relative;
}

.wrapper-pets .pets {
  padding: 80px 0 100px;
}

@media screen and (max-width: 768px) {
  .wrapper-pets .pets {
    padding: 7.8125% 3.9% 9.895833333%;
  }
}

@media screen and (max-width: 320px) {
  .wrapper-pets .pets {
    padding: 42px 10px;
  }
}

.wrapper-pets .pets__content {
  overflow: hidden;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .wrapper-pets .pets__content {
    padding: 2.82485% 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .wrapper-pets .pets__content {
    padding: 0;
  }
}

#pets {
  width: 100%;
  height: 930px;
  overflow: hidden;
  margin-bottom: 45px;
}

@media screen and (max-width: 1279px) {
  #pets {
    height: 1395px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  #pets {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  #pets {
    margin-bottom: 27px;
  }
}

.pets__list {
  position: relative;
  top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  justify-content: center;
  justify-items: center;
  gap: 30px 40px;
  transition: top 0.3s;
}

@media screen and (max-width: 1279px) {
  .pets__list {
    grid-template-columns: repeat(2, 270px);
  }
}

@media screen and (max-width: 767px) {
  .pets__list {
    grid-template-columns: 270px;
  }
}

.wrapper-pets .pets__title {
  margin-bottom: 45px;
}

@media screen and (max-width: 1279px) {
  .wrapper-pets .pets__title {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper-pets .pets__title {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 320px) {
  .wrapper-pets .pets__title {
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.095rem;
  }
}
/*# sourceMappingURL=styles.css.map */