* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 100vh;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: background-image 1s ease-in-out;
  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
}

@media (max-width: 700px) {
  body {
    justify-content: center;
    height: auto;
  }
}

@media (max-width: 1024px) {
  body {
    padding-top: 95px;
  }
}

.btn {
  cursor: pointer;
  background-image: url("../img/refresh.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 10px;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
}

@media (max-width: 576px) {
  .btn {
    width: 45px;
    height: 45px;
  }
}

.btn:hover {
  filter: grayscale(0.2);
  -webkit-filter: grayscale(0.2);
}

.btn:active, .btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

#btn__bg {
  position: absolute;
  top: 10px;
  left: 10px;
}

#day {
  font-size: 5rem;
}

@media (max-width: 700px) {
  #day {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  #day {
    font-size: 1.6rem;
  }
}

@media (max-width: 320px) {
  #day {
    font-size: 1.2rem;
  }
}

#time {
  font-size: 8rem;
}

@media (max-width: 700px) {
  #time {
    font-size: 6rem;
  }
}

@media (max-width: 576px) {
  #time {
    font-size: 3rem;
    width: 90%;
  }
}

@media (max-width: 320px) {
  #time {
    font-size: 2rem;
  }
}

h1 {
  margin-bottom: 9rem;
}

@media (max-width: 700px) {
  h1 {
    margin-bottom: 6rem;
  }
}

@media (max-width: 576px) {
  h1 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 320px) {
  h1 {
    margin-bottom: 2rem;
  }
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

#name,
#focus {
  display: inline-block;
  min-width: 5px;
  background-color: rgba(232, 232, 232, 0.1);
}

#name:hover {
  background-color: rgba(232, 232, 232, 0.6);
}

#focus:hover {
  background-color: rgba(232, 232, 232, 0.6);
}

.infotainment {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: rgba(232, 232, 232, 0.4);
}

@media (max-width: 700px) {
  .infotainment {
    flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .infotainment .quote {
    width: 100%;
  }
}

.infotainment #weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font: 1.2rem Georgia, serif;
  font-weight: bold;
  width: 50%;
  margin: 0;
  background: transparent;
  padding: 1em;
}

@media (max-width: 700px) {
  .infotainment #weather {
    width: 100%;
  }
}

.infotainment #weather #city__info {
  margin: 10px;
}

.quote {
  font: 1.2rem Georgia, serif;
  font-weight: bold;
  width: 50%;
  min-height: 180px;
  margin: 0;
  background: transparent;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .quote {
    height: 240px;
  }
}
/*# sourceMappingURL=styles.css.map */