* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(135deg, #08ff00 30%, #5c6969);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  line-height: 10vh;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

#write-table {
  flex: 1 1 100%;
  padding: 15px;
  height: 30vh;
  font-size: 1.5rem;
}

.keyboard {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5c6969;
  padding: 5px 0;
  transition: bottom 0.6s;
  -webkit-transition: bottom 0.6s;
  -moz-transition: bottom 0.6s;
  -ms-transition: bottom 0.6s;
  -o-transition: bottom 0.6s;
}

.keyboard_hidden {
  bottom: -100%;
  transition: bottom 1.8s;
  -webkit-transition: bottom 1.8s;
  -moz-transition: bottom 1.8s;
  -ms-transition: bottom 1.8s;
  -o-transition: bottom 1.8s;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  width: 4%;
  height: 45px;
  max-width: 90px;
  min-width: 45px;
  border: 0;
  margin: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: top;
}

.keyboard__key .first-lang {
  flex-basis: 60%;
}

.keyboard__key .second-lang {
  flex-basis: 60%;
}

.keyboard__key .lang_active_true {
  order: 1;
  text-align: left;
  font-size: 1.2rem;
}

.keyboard__key .lang_active_false {
  order: 2;
  text-align: right;
  font-size: 1rem;
}

@media screen and (max-width: 730px) {
  .keyboard__key {
    min-width: 30px;
    height: 30px;
    justify-content: center;
    font-size: 1rem;
  }
  .keyboard__key .first-lang {
    flex-basis: 40%;
  }
  .keyboard__key .second-lang {
    flex-basis: 40%;
  }
  .keyboard__key .lang_active_true {
    order: 1;
    text-align: left;
    font-size: 1rem;
  }
  .keyboard__key .lang_active_false {
    order: 2;
    text-align: right;
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 730px) {
  .keyboard__key:nth-child(58) {
    display: none;
  }
  .keyboard__key:nth-child(65) {
    display: none;
  }
  .keyboard__key:nth-child(66) {
    display: none;
  }
  .keyboard__key:nth-child(67) {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .keyboard__key {
    min-width: 29px;
  }
}

.keyboard__key_press_true {
  background: rgba(255, 255, 0, 0.5);
}

.keyboard__key:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.keyboard__key_wide {
  width: 12%;
}

@media screen and (max-width: 960px) {
  .keyboard__key_wide {
    width: 4%;
  }
}

.keyboard__key_extrawide {
  width: 35%;
  max-width: 500px;
}

.keyboard__key_activatable {
  position: relative;
}

.keyboard__key_activatable::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 960px) {
  .keyboard__key_activatable::after {
    top: 4px;
    right: 4px;
  }
}

@media screen and (max-width: 730px) {
  .keyboard__key_activatable::after {
    width: 4px;
    height: 4px;
  }
}

.keyboard__key_active::after {
  background: #08ff00;
}

.keyboard__key_dark {
  background: rgba(255, 255, 255, 0.2);
}

.keyboard__key_dark:active {
  background: rgba(255, 255, 255, 0.12);
}
/*# sourceMappingURL=main.css.map */