@import "~normalize.css";
$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans",
  "Helvetica Neue", sans-serif;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.m5 {
  margin: 5px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: $font-stack;
  background-color: #c3c3c3;
  background-image: url("../img/japan_motive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;

  &.table_size_4 {
  
    @media screen and (max-width: 576px){
      .table__item {
        width: 75px;
        height: 75px;
      }
    }
  }
  
  &.table_size_5 {
  
    @media screen and (max-width: 576px){
      .table__item {
        width: 60px;
        height: 60px;
      }
    }
  }
  
  &.table_size_6 {
    
    @media screen and (max-width: 576px){
      .table__item {
        width: 50px;
        height: 50px;
      }
    }
  }
  
  &.table_size_7 {
    @media screen and (max-width: 960px){
      .table__item {
        width: 75px;
        height: 75px;
      }
    }
  
    @media screen and (max-width: 576px){
      .table__item {
        width: 40px;
        height: 40px;
      }
    }
  }
  
  &.table_size_8 {
  
    @media screen and (max-width: 960px){
      .table__item {
        width: 75px;
        height: 75px;
      }
    }
  
    @media screen and (max-width: 768px){
      .table__item {
        width: 60px;
        height: 60px;
      }
    }
  
    @media screen and (max-width: 576px){
      .table__item {
        width: 40px;
        height: 40px;
      }
    }
  
    @media screen and (max-width: 320px){
      .table__item {
        width: 35px;
        height: 35px;
      }
    }
  }
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 36px;
  p {
    margin: 10px;
  }

  .pause {
    cursor: pointer;
    position: relative;
    z-index: 5;

    &_active {
      font-weight: 700;
      color: red;
    }
  }

  @media screen and (max-width: 576px){
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;
  }
}

.game-table {
  cursor: pointer;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 0.2vh;
  background-color: #c3c3c3;
  padding: 5px;

  &_img_active {
    gap: 0;
  }  
}

.table__item {
  width: 90px;
  height: 90px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &_rounded {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

.table_size_3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.table_size_4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  @media screen and (max-width: 576px){
    .table__item {
      width: 75px;
      height: 75px;
    }
  }
}

.table_size_5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  @media screen and (max-width: 576px){
    .table__item {
      width: 60px;
      height: 60px;
    }
  }
}

.table_size_6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

  @media screen and (max-width: 576px){
    .table__item {
      width: 50px;
      height: 50px;
    }
  }
}

.table_size_7 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  @media screen and (max-width: 960px){
    .table__item {
      width: 75px;
      height: 75px;
    }
  }

  @media screen and (max-width: 576px){
    .table__item {
      width: 40px;
      height: 40px;
    }
  }
}

.table_size_8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  @media screen and (max-width: 960px){
    .table__item {
      width: 75px;
      height: 75px;
    }
  }

  @media screen and (max-width: 768px){
    .table__item {
      width: 60px;
      height: 60px;
    }
  }

  @media screen and (max-width: 576px){
    .table__item {
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (max-width: 320px){
    .table__item {
      width: 35px;
      height: 35px;
    }
  }
}

.main-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;

  &_hidden {
    bottom: -100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

  &__mask {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    background-color: #c8c8c8;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .label {
    cursor: pointer;
  }

  input {
    margin-right: 7px;
  }
}

.game-wrapper__menu-caller {
  width: 100px;
  height: auto;
  min-height: 30px;
  position: fixed;
  z-index: 10;
  top: 3vh;
  right: 10vw;
  background-color: rgba($color: #000000, $alpha: 0.9);
  color: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  .btn-menu {
    cursor: pointer;
    outline: none;
    background-color: #65a889;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .btn-menu:hover {
    background-color: #e6ae88;
  }
}

.game-wrapper__auto-solver {
  height: auto;
  min-height: 30px;
  width: 100px;
  position: fixed;
  z-index: 10;
  top: 3vh;
  background-color: rgba($color: #000000, $alpha: 0.9);
  color: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  .btn-menu {
    cursor: pointer;
    outline: none;
    background-color: #65a889;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .btn-menu:hover {
    background-color: #e6ae88;
  }

  &_active {
    .btn-menu {
      background-color: #e6ae88;
    }
  }


  @media screen and (max-width: 576px){
    top: 8vh;
    right: 10vw;
  }

  @media screen and (max-width: 320px){
    top: 11vh;
    right: 10vw;
    left: auto;
  }
}

.game-wrapper__sound-switcher {
  width: 100px;
  height: auto;
  position: fixed;
  z-index: 10;
  top: 3vh;
  left: 10vw;
  background-color: rgba($color: #000000, $alpha: 0.9);
  color: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  

  .btn-menu {
    cursor: pointer;
    outline: none;
    background-color: #65a889;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .btn-menu:hover {
    background-color: #e6ae88;
  }

  &_mute_active {
    .btn-menu {
      background-color: #e6ae88;
    }
  }

  @media screen and (max-width: 576px){
    top: 13vh;
    right: 10vw;
    left: auto;
  }

  @media screen and (max-width: 320px){
    top: 19vh;
    right: 10vw;
    left: auto;
  }
}

.body__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  fieldset {
    text-transform: capitalize;
  }
}

.btn {
  cursor: pointer;
  outline: none;
  margin: 1vh auto;
  width: 75%;
  max-width: 200px;
  min-height: 35px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-transform: uppercase;
  background-color: #65a889;

  &:hover {
    background-color: #e6ae88;
  }
}

ul {
  li {
    margin: 15px;
    list-style: none;
  }
}

.win-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__body {
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: green;
    @media screen and (max-width: 576px){
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 3rem;
    font-weight: 400;
    color: yellowgreen;
    text-align: center;
  }
}

.wrapper__best-score {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_close {
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: fixed;
  z-index: 10;
  top: 4vh;
  right: 15vw;
  color: #ffffff;
  background-color: #65a889;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-score__body {
  width: 70%;
  height: auto;
  min-height: 50%;
  padding: 1rem;
  background-color: #65a889;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  @media screen and (max-width: 576px){
    font-size: 18px;
    line-height: 24px;
  }
}
.best-score__title {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-style: italic;
}

.best-score__table {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 1.9rem;

  @media screen and (max-width: 576px){
    font-size: 18px;
    line-height: 24px;
  }
}

.table__row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  text-align: center;
  border-bottom: 2px dashed black;

.table__position {
  flex-basis: 15%;
}
.table__name {
  flex-basis: 70%;
}
.table__points {
  flex-basis: 15%;
}
}