*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 55%;
} 

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

sup {
  font-size: 1rem;
}

button[data-magic] {
  font-size: 1.8rem;
}

.instructions {
  margin-top: 14vh;
  flex-basis: 40%;
  height: auto;
  background-color: #cecece;
  padding: 20px;
}

.instructions__title{
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1500px) {
  .wrapper {
    width: 80%;
  } 

  .instructions {
    margin-top: 14vh;
    flex-shrink: 1;
    flex-basis: 50%;
    background-color: #cecece;
    padding: 20px;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    width: 100%;
    padding: 20px;
  } 

  .instructions {
    order: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    background-color: #cecece;
    padding: 20px;
  }
}

@media (orientation: portrait) {
  .wrapper {
    align-items: center;
  } 

  .instructions {
    margin-top: 0;
    flex-basis: 40%;
    height: auto;
    background-color: #cecece;
    padding: 20px;
  }
}