%logo-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
  letter-spacing: 0.06em;
}

%logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

%h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 44px;
  font-weight: 400;
  font-style: normal;
  line-height: 57.2px;
}

%h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  line-height: 45.5px;
  letter-spacing: 0.129rem;
}

%h3-mobile {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 0.06em;
}

%h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
  letter-spacing: 0.074rem;
}

%h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0.9px;
}

%h5-modal-window {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0.06em;
}

%paragraph-l {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

%paragraph-s {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 18px;
}

%paragraph-mobile-menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 51px;
}

%pets-card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.06em;
}

