.arrow {
  cursor: pointer;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  &:hover {
    background-color: $color-primary-light;
  }

  @media screen and (max-width: 767px) {
    margin: 20px 40px 0px;
  }

  .pets__slider & {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    @media screen and (max-width: 1279px) {
      left: 6px;
    }
    @media screen and (max-width: 767px) {
      top: auto;
      bottom: 0;
      left: 15%;
    }
    @media screen and (max-width: 320px) {
      top: auto;
      bottom: 13px;
      left: 8%;
    }
  }

  .pets__slider &.right {
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    transform: rotate(180deg) translateY(50%);
    -webkit-transform: rotate(180deg) translateY(50%);
    -moz-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    -o-transform: rotate(180deg) translateY(50%);
    @media screen and (max-width: 1279px) {
      right: 6px;
    }
    @media screen and (max-width: 767px) {
      top: auto;
      bottom: 0;
      right: 15%;
    }
    @media screen and (max-width: 320px) {
      top: auto;
      bottom: 13px;
      right: 8%;
    }
  }

  .pagination & {
    @extend %h4;
    margin: 0;
    letter-spacing: 0.075rem;

    &.inactive {
      cursor: default;
      color: $color-dark-s;
      border: 2px solid $color-dark-s;
      &:hover {
        cursor: default;
        background-color: initial;
      }
    }

    &.active {
      background-color: $color-primary;
      &:hover {
        background-color: $color-primary;
      }
    }
  }
}
