.btn {
  cursor: pointer;
  outline: none;
  width: 207px;
  height: 52px;
  background-color: $color-primary;
  border-radius: 6.25rem;
  -webkit-border-radius: 6.25rem;
  -moz-border-radius: 6.25rem;
  -ms-border-radius: 6.25rem;
  -o-border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $color-dark-3xl;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    font-size: 1.0625rem;
    line-height: 1.375rem;
    border-radius: 6.25rem;
    -webkit-border-radius: 6.25rem;
    -moz-border-radius: 6.25rem;
    -ms-border-radius: 6.25rem;
    -o-border-radius: 6.25rem;
  }

  .card & {
    margin: 0 auto;
    border: 2px solid $color-primary;
    background: none;
    width: 187px;
    padding-left: 43px;
    padding-right: 42px;
    color: $color-dark-3xl;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    font-size: 1.0625rem;
    line-height: 1.375rem;
  }
  &:hover {
    background-color: $color-primary-light;
  }
  .first-screen__content & {
    @media screen and (max-width: 1279px) {
      align-self: center;
    }
    @media screen and (max-width: 768px) {
      align-self: center;
    }
  }
}

.petsBtn {
  width: 261px;
  margin: 0 auto;
  margin-top: 31px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 320px) {
    margin-top: 1px;
  }
}
