.card {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  width: 270px;
  height: 435px;
  padding-bottom: 1.85rem;
  flex-shrink: 0;
  background-color: $color-light-s;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  &:hover {
    cursor: pointer;
    background-color: $color-light-xl;
    box-shadow: 0px 2px 2.125rem 14px rgba(13, 13, 13, 0.04);
  }

  .slide &.active,
  .slide &.next {
    position: relative;
    display: flex;
  }

  .slide & {
    animation: 0.2s ease-in;
    -webkit-animation: 0.2s ease-in;
  }

  .slide &.to-left {
    animation-name: left;
  }

  .slide &.to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  .slide &.from-left {
    animation-name: left;
    animation-direction: reverse;
  }

  .slide &.from-right {
    animation-name: right;
  }

  @keyframes left {
    0% {
      left: 0%;
    }
    25% {
      left: -25%;
    }
    50% {
      left: -50%;
    }
    75% {
      left: -75%;
    }
    100% {
      left: -100%;
    }
  }

  @keyframes right {
    100% {
      left: 0%;
    }
    75% {
      left: 25%;
    }
    50% {
      left: 50%;
    }
    25% {
      left: 75%;
    }
    0% {
      left: 100%;
    }
  }

  .pets__list & {
    display: flex;
  }
}

.card__image img {
  width: 100%;
  display: block;
  border-radius: 9px 9px 0 0;
  -webkit-border-radius: 9px 9px 0 0;
  -moz-border-radius: 9px 9px 0 0;
  -ms-border-radius: 9px 9px 0 0;
  -o-border-radius: 9px 9px 0 0;
}

.card__name {
  text-align: center;
  padding-left: 1px;
  & h5 {
    color: $color-dark-l;
    @extend %pets-card-title;
    margin: 0 auto;
  }
}
