.footer {
  padding: 40px 40px 0;
  background: url("../../assets/images/noise_transparent@2x.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;

  @media screen and (max-width: 768px) {
    padding: 30px 30px 0;
  }
  @media screen and (max-width: 320px) {
    padding: 30px 10px 0;
  }
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  @media screen and (max-width: 1279px) {
    display: grid;
    justify-content: center;
    grid-template-columns: 278px 302px;
    gap: 63px 60px;
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: 302px;
    grid-template-rows: auto;
    gap: 41px;
  }
}

.footer__contacts {
  flex-basis: 278px;
  margin-top: 17px;
  @media screen and (max-width: 1279px) {
    margin-top: 0;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 320px) {
    align-items: center;
  }
}

.contacts__title {
  color: $color-light-xl;
  @extend %h3;

  + .contacts__email {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 320px) {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.1rem;
  }
}

.contacts__email {
  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .email__icon {
      margin-right: 1.25rem;
      svg {
        display: block;
      }
    }

    .email__text {
      display: block;
      color: $color-primary;
      @extend %h4;
      // letter-spacing: 0.075rem;
    }
  }
}

.contacts__phone a {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .phone__icon {
    margin-right: 1.25rem;
    svg {
      display: block;
    }
  }

  .phone__text {
    color: $color-primary;
    @extend %h4;
  }
}

.footer__location {
  flex-basis: 302px;
  margin-top: 17px;
  @media screen and (max-width: 1279px) {
    margin-top: 0;
  }
}

.location__title {
  color: $color-light-xl;
  @extend %h3;
  // letter-spacing: 0.129rem;
  + .location__adress {
    margin-top: 2.125rem;
    margin-bottom: 1.9375rem;
    @media screen and (max-width: 320px) {
      margin: 40px 0 38px;
    }
  }
  @media screen and (max-width: 320px) {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }
}

.location__adress a {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .location__icons {
    margin-right: 1.25rem;
    svg {
      display: block;
    }
  }

  .location__text {
    color: $color-primary;
    @extend %h4;
    // letter-spacing: 0.075rem;
  }
}

.footer__puppy {
  .puppy__image {
    width: 100%;
    display: block;
  }

  @media screen and (max-width: 1279px) {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    max-width: 300px;
  }

  @media screen and (max-width: 767px) {
    grid-column-start: auto;
    grid-column-end: auto;
    max-width: 260px;
  }
}
