.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3.75rem;
  .wrapper-pets & {
    background-color: $color-light-xl;
    position: sticky;
    top: 0;
    padding: 30px 40px;
    margin-bottom: 0;
    width: 100%;
    z-index: 3;
    @media screen and (max-width: 768px) {
      padding: 30px 30px;
    }
    @media screen and (max-width: 320px) {
      padding: 30px 10px 30px;
    }
  }
}

.invisible {
  visibility: hidden;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.logo__title {
  position: relative;
  z-index: 1;
  color: $color-primary;
  @extend %logo-title;
  margin: 0 0 10px 0;

  .wrapper-main & {
    color: $color-primary;
  }
  .wrapper-pets & {
    color: $color-dark-l;
  }
}

.logo__subtitle {
  position: relative;
  z-index: 1;
  padding-left: 0.25rem;
  @extend %logo-subtitle;

  .wrapper-main .header & {
    color: $color-light-xl;
  }
  .wrapper-pets .header & {
    color: $color-dark-3xl;
  }
}

.header__menu {
  display: flex;
  align-items: center;
}

.menu__list {
  position: relative;
  width: 443px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    display: none;
  }

  li:nth-child(2):hover a {
    color: $color-light-xl;
    border-bottom: 3px dashed $color-primary;
  }

  li:nth-child(3) a,
  li:nth-child(4) a {
    cursor: default;
  }
}

.list__link {
  @extend %paragraph-l;
  padding-bottom: 0.25rem;
  border-bottom: none;

  .wrapper-pets & {
    color: $color-dark-l;
  }

  .wrapper-main &,
  .modal & {
    color: $color-dark-s;
  }
}

.list__link-active {
  border-bottom: 3px solid $color-primary;

  .wrapper-pets & {
    color: $color-dark-3xl;
  }

  .wrapper-main &,
  .modal & {
    color: $color-light-s;
  }
}

.header__burger {
  align-self: center;
  display: none;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 22px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

  &::before,
  &::after,
  & span {
    content: "";
    background-color: $color-primary;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  & span {
    top: 10px;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }

  @media (max-width: 767px) {
    display: block;
    right: 30px;
  }
  @media (max-width: 320px) {
    right: 43px;
  }
}

.wrapper-pets {
  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    background-color: #000;
  }
}

.burger-rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
