.modal {
  position: fixed;
  right: -150%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.6);
  display: flex;
  justify-content: flex-end;
  z-index: 4;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.modal-isOpen {
  transition: all 0.4s ease-in;
  right: 0;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.modal__menu {
  position: relative;
  top: 0;
  max-width: 320px;
  background-color: $color-dark-3xl;
  padding: 30px 53px 249px 10px;
  .wrapper-pets & {
    right: 0;
    padding: 30px 53px 249px 10px;
  }
}

.modal__menu .menu__list {
  position: relative;
  right: 9px;
  display: block;
  text-align: center;
  width: 320px;

  .menu__item {
    margin-bottom: 42px;
  }

  .list__link {
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
  }
}

.modal-dialog {
  max-width: 900px;
  width: 95%;
  background: #ffffff;
  border-radius: 9px;
  margin: auto;
  padding: 40px 45px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.logo__title {
  .modal & {
    color: $color-primary;
  }
}

.modal__logo {
  display: inline-block;
  width: 220px;
  margin-bottom: 80px;
}

.logo__subtitle {
  position: relative;
  z-index: 1;
  padding-left: 0.25rem;
  @extend %logo-subtitle;

  .modal & {
    color: $color-light-xl;
  }
}

.modal__burger {
  align-self: center;
  display: inline-block;
  position: relative;
  top: -13px;
  right: 0;
  cursor: pointer;
  z-index: 5;
  width: 30px;
  height: 22px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

  &::before,
  &::after,
  & span {
    content: "";
    background-color: $color-primary;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  & span {
    top: 10px;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }

  @media (max-width: 767px) {
    display: inline-block;
    top: -16px;
    right: -2px;
  }
}

.burger-rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
