.popup {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 4;
  display: none;
  cursor: pointer;
}

.popup_visible {
  display: flex;
}

.popup__body {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  @media screen and (max-width: 1279px) {
    max-width: 630px;
  }
  @media screen and (max-width: 767px) {
    max-width: 240px;
  }
}

.popup__cross-line {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.popup__cross {
  position: relative;
  left: 42px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: transparent;
  border: 1px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hovered {
    background-color: $color-primary-light;
  }

  &:hover {
    background-color: $color-primary-light;
  }

  svg {
    display: block;
  }
  @media screen and (max-width: 767px) {
    left: 30px;
  }
}

.popup__content {
  background-color: $color-light-s;
  display: flex;
  align-items: stretch;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  cursor: default;
}

.popup__content-image {
  flex: 1 1 55.55555%;
  display: block;
  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 9px 0 0 9px;
    -webkit-border-radius: 9px 0 0 9px;
    -moz-border-radius: 9px 0 0 9px;
    -ms-border-radius: 9px 0 0 9px;
    -o-border-radius: 9px 0 0 9px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.popup__content-body {
  flex: 1 1 44.44444%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  @media screen and (max-width: 1279px) {
    padding: 10px 7px 10px 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.popup__content-text {
  position: relative;
  top: -18px;
  width: 92.1052632%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  @media screen and (max-width: 1279px) {
    top: 0;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.popup__content-header {
  @media screen and (max-width: 767px) {
    position: relative;
    left: 8px;
  }
}

.popup__content-title {
  @extend %h3;
  margin-bottom: 10px;
}

.popup__content-type {
  @extend %h4;
}

.popup__content-description {
  width: 100%;
  height: auto;
  @extend %h5;
  margin: 40px 0;
  @media screen and (max-width: 1279px) {
    width: 108%;
    font-size: 13px;
    line-height: 14.3px;
    letter-spacing: 0.06em;
    margin: 20px 0;
  }
  @media screen and (max-width: 767px) {
    margin: 20px 0 24px;
    text-align: justify;
  }
}

.popup__list {
  li {
    list-style: none;
    color: $color-primary;
    margin-bottom: 10px;
    span {
      @extend %h5-modal-window;
      letter-spacing: 0.07em;
      color: #000;
    }
    &::before {
      content: "•";
      color: $color-primary;
      width: 4px;
      height: 4px;
      margin-right: 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    @media screen and (max-width: 1279px) {
      margin-bottom: 5px;
    }
    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }
}
