.body {
  box-sizing: border-box;
  width: 1600px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.bgImageWrapper {
  background-image: url('./assets/bg-image.png'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.header {
  position: relative;
  padding: 20px;
  z-index: 1;
}
.hiddenTitle {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  font-size: .1px;
}

.header__links {
  margin: 17px auto;
  width: 595px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  padding: 0 0 0 0;
}

.list__item {
  margin-right: 85px;
  border-bottom: 2px solid #000;
}

.list__item:nth-child(2) {
  margin-right: 246px;
}

.link__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  opacity: .8;
}

.link__item:hover {
  text-decoration: underline;
}

.link__item-hovered {
  text-decoration: underline;
}

.header__logo {
  position: relative;
  top: -55px;
  
}

.header__svgIcon {
  fill: #fff;
}


.logo {
  width: 44px;
  height: 45px;
  margin: 0 auto;
  
}

.yourLife {
  margin: 0 auto;
  padding: 91px 0 85px 0;
}

.yourLife__title {
  padding-left: 11px;
  width: 740px;
  margin: 0 auto;
  color: #fff;
  font-size: 63px;
  line-height: 65px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 5.1px;
}

.yourLife__subtitle {
  width: 504px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25.2px;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.btn {
  width: 184px;
  height: 46px;
  background-color: #00afdb;
  cursor: pointer;
  text-align: center;
}

.btn__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 46px;
  font-weight: 700;
  
}

.btn__main {
  margin: 0 auto;
  margin-bottom: 183px;
}

.btn-hover:hover {
  background-color: #009cc2;
}

.yourLife__socials {
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.svg_icon {
  fill: #fff;
}

.svg_icon:hover {
  transform: scale(1.5);
}


.rappresent {
  padding: 120px 270px 136px 268px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.rappresent__content {
  width: 407px;
  padding-top: 175px;
}

.rappresent__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 20px;
}

.rappresent__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
}

.rappresent__content .btn {
  margin: 0 0 0 0;
}

.ourCommunity {
  padding: 74px 269px 135px;
  overflow: hidden;
  background-color: #f5f6f7;
  text-align: right;
}

.nav__items {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 14px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.arrow:hover {
  padding: 4px;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  margin-left: 8px;
  position: relative;
  top: -2px;
}

.right:hover {
  margin-left: 6px;
}

.left {
  transform: rotate(135deg);
  margin-right: 8px;
  position: relative;
  top: -2px;
}

.screen4Container {
  display: flex;
  flex-direction: row;
}

.frame5 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 298px;
  margin-right: 139px;
  padding-top: 34px;
}

.frame5__icon {
  padding-left: 1px;
}

.frame5__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2.4px;
  margin: 15px 0 8px 0;
  padding-left: 3px;
}

.frame5__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;
}

.slider {
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
}

.slide {
  flex-shrink: 0;
  margin-right: 30px;
}

.implement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 121px 0 136px 269px;
}

.implement__image {
  margin-right: 139px;
}

.implement__body {
  flex-shrink: 0;
  flex-basis: 410px;
  padding-top: 180px;
}

.implement__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0 21px 0;
}

.implement__text {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 30px 0;
}

.btn__scr5 {
  width: 180px;
  margin: 0 0 190px 0;
}

.subscribe {
  padding: 215px;
  padding-bottom: 277px;
  background-image: url('./assets/pexels-christina-morillo-1181675\ 1.png');
  text-align: center;
}

.subscribe__title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 28px 0;
  padding-left: 2px;
}

.subscribe__form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 406px;
  height: 46px;
  border: none;
  outline: none;
}

.subscribe__form input{
  outline: none;
  width: 100%;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 24px;
}


input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.8);
}

input:-moz-placeholder {
  font-size: 14px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.8);
}

input::-moz-placeholder {
  font-size: 14px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.8);
}


input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.8);
}


input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.8);
}


input::placeholder {
  font-size: 14px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.8);
}

.subscribe__form button{
  width: 66px;
  height: 46px;
  padding: 15px 25px;
  background-color: #00AFDB;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: none;
}

.form__svgIcon {
  fill: #fff;
}

.form__svgIcon:hover {
  transform: scale(1.3);
}


.subscribe__form button:hover {
  background-color: #009cc2;
}


.download {
  background-color: #f5f6f7;
  padding-top: 120px;
  padding-bottom: 180px;
  text-align: center;
}

.download__container {
  margin: 0 auto;
  width: 485px;
}

.download__title {
  text-transform: uppercase;
  padding-left: 2px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  margin: 0 0 0 0;
}

.download__text {
  font-size: 14px;
  line-height: 20px;
  margin-top: 19px;
  margin-bottom: 30px;
  padding-left: 2px;
}

.download__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 406px;
  height: 50px;
}
.download__button {
  position: relative;
  width: 169px;
  border: none;
  outline: none;
  overflow: hidden;
  text-align: left;
  padding-top: 4px;
  padding-left: 19px;
  
}

.download__button:hover {
  background-color: #009cc2;
}

.download__btnLink {
  padding-left: 0px;
  line-height: 44px;
}

.iconInBtn {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #009cc2;
}

.iconInBtn__svgIcon {
  fill: #fff;
  display: block;
}

.apple {
  position: absolute;
  bottom: 15px;
  right: 21px;
}

.droid {
  position: absolute;
  bottom: 14px;
  right: 20px;
}

.footer {
  background-color: #000;
  padding: 55px 160px 79px 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 1px;
  padding-left: 0;
}

.footer__listItem {
  border: 2px dashed #000;
  margin-right: 35px;
}

.footer__listItem:hover {
  border-top: 2px dashed darkred;
  transform: skew(-10deg, 0)
}

.footer__listItem::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: #4e4e4e;
  position: relative;
  left: 20px;
}

.footer__listItem:last-child::after {
  display: none;
}

.footer__link {
  color: #fff;
  font-size: 14px;
  line-height: 12px;
  text-decoration: none;
}

.footer__svgIcon {
  position: relative;
  top: 0px;
  left: -52px;
  fill: #fff;
}

.copyRights {
  position: relative;
  top: 1px;
  color: #818181;
  font-size: 14px;
  line-height: 18px;
}
