.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.wrapper-main {
  overflow: hidden;
}

.first-screen {
  overflow: hidden;
  padding: 4.7% 40px 0;
  background: url("../../assets/images/noise_transparent@2x.png"),
    radial-gradient(100% 155.42% at 0% 0%, #5b483a 0%, #262425 85%);
  @media screen and (max-width: 768px) {
    padding: 3.91% 30px 0;
  }
  @media screen and (max-width: 320px) {
    padding: 30px 10px 0;
  }
}

.first-screen__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1279px) {
    flex-direction: column;
  }
  @media screen and (max-width: 320px) {
    max-width: 300px;
  }
}

.first-screen__content {
  margin-bottom: 6.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 322px;
  max-width: 38.33%;
  position: relative;
  @media screen and (max-width: 1279px) {
    max-width: 75%;
  }
  @media screen and (max-width: 768px) {
    height: 322px;
    margin-bottom: 100px;
    max-width: 71%;
  }
  @media screen and (max-width: 320px) {
    max-width: 300px;
    height: 296px;
    margin-bottom: 105px;
  }
}

.first-screen__title {
  color: $color-light-xl;
  @extend %h2;
  white-space: nowrap;
  @media screen and (max-width: 1279px) {
    padding-left: 21px;
    margin: 0 auto;
  }
  @media screen and (max-width: 767px) {
    padding-left: 0;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.094rem;
    text-align: center;
    margin: 0 auto;
  }
  @media screen and (max-width: 320px) {
    max-width: 100%;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.094rem;
    text-align: center;
  }
}

.first-screen__text {
  color: $color-dark-s;
  @extend %paragraph-l;
  @media screen and (max-width: 1279px) {
    padding-left: 21px;
  }
  @media screen and (max-width: 320px) {
    padding-left: 0;
    text-align: center;
  }
}

.first-screen__image {
  max-width: calc(59.416666667% - 15px);
  align-self: flex-end;
  position: relative;
  left: 0;
  & img {
    display: block;
    max-width: 100%;
  }
  @media screen and (max-width: 1279px) {
    align-self: auto;
  }
  @media screen and (max-width: 768px) {
    max-width: 569px;
    left: calc(20% - 70px);
  }
  @media screen and (max-width: 320px) {
    max-width: 260px;
    left: 20px;
  }
}

.about {
  padding: 6.25% 3.125% 7.8125%;
  @media screen and (max-width: 768px) {
    padding: 5rem 1.875rem 6.25rem;
  }
  @media screen and (max-width: 320px) {
    padding: 41px 10px 42px;
  }
}

.about__image {
  max-width: 300px;
  @media screen and (max-width: 1279px) {
    margin-top: 79px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 320px) {
    width: 260px;
    margin-top: 40px;
  }
}

.about__image img {
  max-width: 100%;
  display: block;
}

.about__content {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 1279px) {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 85%;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 430px;
  }
}

.about__information {
  max-width: 50.588%;
  padding-top: 15px;
  @media screen and (max-width: 1279px) {
    max-width: 85%;
    padding-top: 1px;
  }
  @media screen and (max-width: 320px) {
    padding: 2px 15px 0;
  }
}

.about__title {
  color: $color-dark-l;
  @extend %h3;
  @media screen and (max-width: 1279px) {
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.095rem;
  }
}

.about__title + .about__text {
  margin-top: 25px;
  margin-bottom: 25px;
  @media screen and (max-width: 320px) {
    margin-top: 26px;
    margin-bottom: 22px;
  }
}

.about__text {
  color: $color-dark-xl;
  @extend %paragraph-l;
  @media screen and (max-width: 767px) {
    text-align: justify;
  }
}

.pets {
  background-color: $color-light-l;
  padding: 80px 3.125% 100px;
  @media screen and (max-width: 768px) {
    // padding: 5rem 3.90625% 6.25rem;
  }
  @media screen and (max-width: 320px) {
    padding: 42px 0;
  }
}

.pets__title {
  display: block;
  max-width: 100%;
  position: relative;
  left: 1px;
  margin: 0 auto;
  margin-top: 1px;
  margin-bottom: 28px;
  color: $color-dark-l;
  @extend %h3;
  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.095rem;
    margin-bottom: 11px;
  }
}

.pets__slider {
  display: block;
  position: relative;
  @media screen and (max-width: 767px) {
    height: 577px;
  }
}

.slide {
  width: 1050px;
  height: 495px;
  padding-left: 35px;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(48, 310px);
  gap: 50px;

  @media screen and (max-width: 1279px) {
    gap: 0;
    width: 690px;
  }

  @media screen and (max-width: 767px) {
    width: 300px;
    padding-left: 0;
  }
}

.help {
  overflow: hidden; ///1111
  padding: 80px 3.125% 45px;
  @media screen and (max-width: 1279px) {
    padding: 80px 8.984375% 100px;
  }
  @media screen and (max-width: 767px) {
    padding: 42px 15px;
  }
}

.help__title {
  display: block;
  position: relative;
  top: 1px;
  left: 2px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  @extend %h3;

  @media screen and (max-width: 767px) {
    text-align: center;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.095rem;
    margin-bottom: 42px;
  }
}

.help__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin-left: -60px;
  margin-right: -60px;
  @media screen and (max-width: 1279px) {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, minmax(170px, 1fr));
    gap: 55px 60px;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    grid-auto-rows: auto;
    gap: 30px;
  }

  @media screen and (max-width: 320px) {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-auto-rows: auto;
    gap: 30px;
  }
}

.help__item {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px 55px;

  @media screen and (max-width: 1279px) {
    width: 170px;
    height: 113px;
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    width: 130px;
    height: 87px;
    margin: 0;
  }

  & svg {
    display: block;
    @media screen and (max-width: 767px) {
      width: 50px;
      height: 50px;
    }
  }
}

.item__text {
  margin-top: 26px;
  color: $color-dark-l;
  @extend %h4;

  @media screen and (max-width: 767px) {
    margin-top: 22px;
    font-size: 0.9375rem;
    line-height: 1.03125rem;
    letter-spacing: 0.055rem;
  }
}

.donation {
  background-color: $color-light-l;
  padding: 6.3% 0 7.8%;

  @media screen and (max-width: 768px) {
    padding: 10.4166% 0 13.05%;
  }
  @media screen and (max-width: 320px) {
    padding: 42px 10px;
  }
}

.donation__content {
  max-width: 915px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.donation__image {
  position: relative;
  flex-basis: 505px;
  order: 1;
  top: 1px;
  img {
    display: block;
    max-width: 100%;
  }
  @media screen and (max-width: 768px) {
    order: 2;
    top: 0;
  }
  @media screen and (max-width: 320px) {
    flex-basis: 260px;
  }
}

.donation__text {
  width: 380px;
  margin-left: 1.85rem;
  order: 2;
  @media screen and (max-width: 768px) {
    order: 1;
    margin-left: 0;
    margin-bottom: 60px;
  }

  @media screen and (max-width: 767px) {
    width: calc(40% + 200px);
  }

  @media screen and (max-width: 320px) {
    margin-bottom: 42px;
  }
}

.donation__textTitle {
  position: relative;
  top: 1px;
  max-width: 300px;
  color: $color-dark-l;
  @extend %h3;
  @media screen and (max-width: 767px) {
    top: 0;
    max-width: 210px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    letter-spacing: 0.095rem;
  }
}

.donation__textSubTitle {
  max-width: 310px;
  color: $color-dark-l;
  @extend %h5;
  margin-top: 21px;
  @media screen and (max-width: 767px) {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    letter-spacing: 0.02px;
    margin: 20px auto;
  }

  @media screen and (max-width: 320px) {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    letter-spacing: 0.02px;
    margin: 20px 0;
  }
}

.donation__card {
  max-width: 349px;
  background-color: $color-primary;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  @media screen and (max-width: 767px) {
    padding: 10px 15px 9px;
    max-width: 281px;
    margin: 20px auto;
  }
  &:hover {
    background-color: $color-primary-light;
  }
  .card__link {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding: 10px 14px 10px 15px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    @media screen and (max-width: 767px) {
      padding: 10px 15px 9px;
      max-width: 281px;
      margin: 20px auto;
    }
  }

  .link_icon svg {
    display: block;
  }

  .link__cardNumber {
    color: $color-dark-l;
    @extend %h4;
    @media screen and (max-width: 767px) {
      vertical-align: middle;
      font-size: 0.9375rem;
      line-height: 1.6rem;
      letter-spacing: 0.9px;
    }
  }
}

.donation__description {
  @extend %paragraph-s;
  color: $color-dark-m;
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
  }
}
