.wrapper-pets {
  position: relative;
}

.pets {
  .wrapper-pets & {
    padding: 80px 0 100px;
    @media screen and (max-width: 768px) {
      padding: 7.8125% 3.9% 9.895833333%;
    }
    @media screen and (max-width: 320px) {
      padding: 42px 10px;
    }
  }
}

.pets__content {
  .wrapper-pets & {
    overflow: hidden;
    padding: 0;
    @media screen and (max-width: 768px) {
      padding: 2.82485% 0 0 0;
    }
    @media screen and (max-width: 320px) {
      padding: 0;
    }
  }
}

#pets {
  width: 100%;
  height: 930px;
  overflow: hidden;
  margin-bottom: 45px;
  @media screen and (max-width: 1279px) {
    height: 1395px;
    margin-bottom: 25px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 25px;
  }
  @media screen and (max-width: 320px) {
    margin-bottom: 27px;
  }
}

.pets__list {
  position: relative;
  top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  justify-content: center;
  justify-items: center;
  gap: 30px 40px;
  transition: top 0.3s;
  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(2, 270px);
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: 270px;
  }
}

.pets__title {
  .wrapper-pets & {
    margin-bottom: 45px;
    @media screen and (max-width: 1279px) {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 27px;
    }
    @media screen and (max-width: 320px) {
      font-size: 1.5625rem;
      line-height: 2.03125rem;
      letter-spacing: 0.095rem;
    }
  }
}
